# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/
venv/
ENV/

# IDE settings
.idea/
.vscode/
*.iml

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/

# logs
*.log

# My personal notes
personal_note.md